.primeiro{
    border: 2px solid red;
    width: 100px;
    height: 50px;
    margin: 60px;
    padding: 80px;
}

.segundo{
    border: 2px solid blue;
    width: 200px;
    height: 70px;
    margin: 80px;
    padding: 30px;
}

.terceiro{
    border: 2px solid purple;
    width: 300px;
    height: 90px;
    margin:100px ;
    padding: 50px;
}

.quarto{
    border: 2px solid plum;
    width: 400px;
    height: 110px;
    margin:120px ;
    padding: 75px;
}